<div class="container bg-info">
<h1 class= "align-top text-center p-4" style= 'font-weight: bold;'>Weather Apps</h1>

<div class="container">
<form>
  <div class="form-group">
    <label for="exampleInputEmail1"> Country </label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter the place">
    <small id="emailHelp" class="form-text text-muted">Country or Big City</small>
  </div>
  <button type="submit" class="btn btn-primary">Check</button>
</form>
</div>
</div>
